.array-container {
  white-space: nowrap;
  margin: auto;
}

.array-bar {
  width: 0.25vw; /* come back later to improve, not static value. should be screen */
  display: inline-block;
  margin: 0 0.1vw;
}

.button-container {
  margin: 10px;
}
